.container {
  width: 85%;
  max-width: 1366px;
  margin: 0 auto;
  padding-bottom: 2rem;
  flex: auto;
}

.mainHeading {
  color: dodgerblue;
  text-align: center;
}

.events {
  width: 85%;
  margin: auto;
}
.events h1 {
  font-size: 2rem;
  color: dodgerblue;
  text-align: center;
}

.events img {
  width: 100%;
}

.events hr {
  border: none;
  height: 4rem;
}

.mainArticle img {
  max-width: 100%;
}

@media (max-width: 768px) {
  .container {
    width: 90%;
  }

  .mainArticle img {
    width: 100%;
  }

  .events {
    width: 100%;
  }

  .events hr {
    height: 0rem;
  }
}
