.toggleBtn {
  width: 56px;
  height: 56px;
  font-size: 36px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: #fff;
  box-shadow: 0px 2px 7px 3px rgba(0, 0, 0, 0.33);
  color: dodgerblue;
  border-radius: 50%;
  border: none;
  padding: 0;
  z-index: 1;
}

@media (min-width: 769px) {
  .toggleBtn {
    display: none;
  }
}
