---
import Layout from "../layouts/BaseLayout.astro";
const events = await Astro.glob('../pages/events/*.md');
---

<Layout>
  <h1 class="text-center text-blue-400 text-3xl font-bold my-5 px-2">
    Events
  </h1>
  <ul class="mx-auto px-4 min-h-96">
    {events.map(e => <li class="my-5"><a class="text-blue-500 underline" href={e.url}>{e.frontmatter.title}</a></li>)}
  </ul>
</Layout>
