---
import Layout from "../layouts/BaseLayout.astro";
const events = await Astro.glob('../pages/events/*.md');
---

<Layout title="Events">
  <h1 class="text-center text-blue-400 text-3xl font-bold mt-7 px-2">
    Events
  </h1>
  <ul class="mx-auto px-4">
    {events.map((e) => (
      <a href={e.url} class="card bg-base-100 shadow-xl max-w-prose my-11 mx-auto">
        <figure><img src={"/" + e.frontmatter.image} alt="Album"/></figure>
        <div class="card-body">
          <h2 class="card-title">{e.frontmatter.title}</h2>
        </div>
      </a>
    ))}
  </ul>
</Layout>
