---
import Layout from "../layouts/BaseLayout.astro";
---

<Layout title="Privacy Policy">
    <article class="prose w-11/12 md:w-10/12 max-w-screen-xl m-auto my-11">
      <h1 class="text-center text-blue-400 text-3xl font-bold px-2">Privacy Policy</h1>
      <hr />
      <p>
        BioEthx, Inc. and its subsidiaries (collectively "BioEthx") are
        committed to protecting your privacy and ensuring you have a positive
        experience on our websites and in using our services therein referenced
        ("Services").
      </p>
      <h2>What this Privacy Statement Covers</h2>
      <p>
        This BioEthx Privacy Policy is applicable worldwide and covers how
        BioEthx treats personal information collected by us through our website
        and offline. It does not apply to those sites that do not display or
        link to this Privacy Policy or that have their own privacy policies. In
        addition, there may be supplemental information for particular Services
        ("Supplements"). Please read the BioEthx Privacy Policy below, the
        Supplements and those privacy policies of all the websites you visit.
      </p>
      <h2>Collection of Your Personal Information</h2>
      <p>
        We will always tell you before we collect any Personal Information from
        you and will inform you of the purpose of the collection. "Personal
        Information" is any information that can be used to identify an
        individual, and may include, but is not limited to, name, email address,
        postal or other physical address, credit or debit card number, title,
        occupation, and other information required to provide a Service, or
        carry out a transaction that you have requested. We may collect third
        party Personal Information such as name, email and phone number, and we
        will assume that you have the third party’s permission to provide us the
        information. This information is only collected and used for the purpose
        it was intended. Some of the reasons we collect your Personal
        Information include:
      </p>
      <ul>
        <li>registration for an account or Service</li>
        <li>requesting information about us or our Services</li>
        <li>use of certain features of our Services</li>
        <li>
          requesting service and support for our Services and providing such
          support
        </li>
        <li>placement of a transaction or order</li>
        <li>registration to attend a seminar or webinar</li>
        <li>participation in an online survey</li>
        <li>participation in discussion groups or forum</li>
        <li>collaboration efforts</li>
        <li>registration to membership programs or newsletter subscriptions</li>
        <li>when you apply for a job</li>
      </ul>
      <h2>Uses of Your Personal Information</h2>
      <p>
        We will only use your Personal Information in the way we specified when
        it was collected. We will not subsequently change the way your Personal
        Information is used without your consent. Some of the ways we may use
        your Personal Information include, without limitation, to:
      </p>
      <ul>
        <li>
          process your orders and deliver the Services that you have ordered.
        </li>
        <li>
          keep you up to date on the latest Service announcements, system
          enhancements, special offers, and other information, provided that you
          can edit your marketing preferences at any time as described below.
        </li>
        <li>provide support and assistance for our Services.</li>
        <li>
          provide the ability to create personal profile areas and view
          protected content.
        </li>
        <li>
          provide the ability to contact you, and provide you with shipping and
          billing information.
        </li>
        <li>provide customer feedback and support.</li>
        <li>
          conduct questionnaires and surveys in order to provide better products
          and services to our customers and end users. Your completion of any
          questionnaires is voluntary.
        </li>
        <li>support recruitment inquiries.</li>
        <li>
          understand more about you, so we can personalize newsletters and
          websites to your preferences.
        </li>
        <li>meet contract obligations.</li>
      </ul>
      <h2>Access to and Accuracy of Your Personal Information</h2>
      <p>
        We need your help in keeping your Personal Information accurate and up
        to date. Please notify us of any changes to your Personal Information.
      </p>
      <h2>Communication Preferences</h2>
      <p>
        Each promotional email from us includes instructions on how you can
        unsubscribe from that particular mailing. This option does not apply to
        the receipt of mandatory service communications that are considered part
        of certain Services, which you may receive periodically unless you
        cancel the Service in accordance with its terms and conditions.
      </p>
      <h2>Non-personal/Anonymous Information Collection</h2>
      <p>
        In some instances, BioEthx may collect non-personal (aggregate or
        demographic) data through cookies, web logs, and web beacons. This
        information is used to better understand and improve the usability,
        performance, and effectiveness of the website. Please read the "Cookies"
        section below for more information.
      </p>
      <p>
        In addition, by using the website or some of our Services, anonymous
        network information may be transmitted back to us such as: the health of
        the Service and types of devices attached to the network. With this
        information we can determine how users are interacting with the Service,
        to assist us with improving it, and to provide alerts via the Service of
        available software updates/upgrades.
      </p>
      <h2>Sharing Your Personal Information</h2>
      <p>
        We do not sell, rent, share or trade your Personal Information to third
        parties for marketing purposes unless you have granted us permission to
        do so.
      </p>
      <p>
        We may share your Personal Information within BioEthx for purposes of
        data processing or storage.
      </p>
      <p>
        We may also share your Personal Information with business partners,
        service vendors, authorized third-party agents or contractors in order
        to provide a requested service or transaction, including processing and
        shipping orders, processing credit card transactions, hosting websites,
        hosting event and seminar registration and providing customer support.
        We only provide these third parties with the minimum amount of Personal
        Information necessary to complete/provide the requested service or
        transaction, and the third parties are not permitted to use your
        Personal Information except for the limited purpose of
        completing/providing the requested service or transaction.
      </p>
      <p>
        We may respond to subpoenas, court orders, or legal process by
        disclosing your Personal Information and other related information, if
        necessary. We also may choose to establish or exercise our legal rights
        or defend against legal claims and use your Personal Information in this
        regard as appropriate.
      </p>
      <p>
        We may collect and possibly share Personal Information and any other
        additional information available to us in order to investigate, prevent,
        or take action regarding illegal activities, suspected or potential
        fraud, brand protection matters (such as gray market sales or use of
        BioEthx’ trademark without a license), situations involving potential
        threats to the physical safety of any person, violations of BioEthx’
        terms of use, or as otherwise required by law.
      </p>
      <p>
        While navigating our website or Services you may be directed to content
        or functionality that is hosted by a third-party supplier. When
        information is collected on behalf of BioEthx exclusively, this BioEthx
        Privacy Policy will be referenced on the website and will govern how
        your information is used. For other, non-BioEthx websites, the website
        owner’s privacy policy will be referenced.
      </p>
      <p>
        We will ask for your consent before we use or share your information for
        any purpose other than the purpose for which you provided it or as
        otherwise provided by this BioEthx Privacy Policy. To let us know your
        preferences, we will require an action on your part, such as checking
        the appropriate option, to indicate your consent.
      </p>
      <h2>Security of Your Personal Information</h2>
      <p>
        We utilize a combination of industry-standard security technologies,
        procedures, and organizational measures to help protect your Personal
        Information from unauthorized access, use or disclosure. However, no
        method of transmission over the Internet, or method of electronic
        storage is 100% secure. Therefore, while we strive to use commercially
        acceptable means to protect your Personal Information, we cannot
        guarantee its security.
      </p>
      <p>
        We recommend you to take every precaution in protecting your Personal
        Information when you are on the Internet. For example, change your
        passwords often, use a combination of letters and numbers when creating
        passwords, and make sure you use a secure browser.
      </p>
      <h2>Use of Cookies and other Web Technologies</h2>
      <p>
        Like many websites, BioEthx uses automatic data collection tools, such
        as cookies, embedded web links and web beacons. These tools collect
        certain standard information that your browser sends to our website such
        as your browser type and the address of the website from which you
        arrived at our website. They may also collect information about your
        Internet Protocol (IP) address (a number automatically assigned to your
        computer whenever you are connected to the Internet, allowing Web
        servers to locate and identify your computer, which is a unique address
        assigned to your PC by your Internet Service Provider or Information
        Systems Department on a TCP/IP network) and clickstream behavior (for
        example, the pages you view and the links you click). These tools help
        make your visit to our website easier, more efficient and more valuable
        by providing you with a customized experience and recognizing you when
        you return.
      </p>
      <h2>Supplementing Information</h2>
      <p>
        From time to time we may supplement Personal Information collected on
        our website with information from other commercially available sources
        that we deem credible, such as business contact databases. This is to
        help us maintain the accuracy of the information we collect and help us
        provide a better service.
      </p>
      <h2>Linked Websites</h2>
      <p>
        Our websites and Services may provide links to other third-party
        websites and services which are outside our control and not covered by
        this BioEthx Privacy Policy. Please be aware that we are not responsible
        for the privacy practices of such other sites. We encourage you to
        review the privacy policies posted on these (and all) sites you visit.
      </p>
      <h2>Forums/Chat Rooms</h2>
      <p>
        If you participate in a discussion forum or chat room on a BioEthx
        website, you should be aware that the personal and other information you
        provide there will be made broadly available to others, and can be read,
        collected or used by other users of these forums, potentially inside or
        outside BioEthx, who have access to that discussion forum or chat room.
        This personal information collected could also be used to send you
        unsolicited messages. Also, please recognize that individual forums and
        chat rooms may have additional rules and conditions. Each participant’s
        opinion on a forum or chat room is his or her own and should not be
        considered as reflecting the opinion of BioEthx. We are not responsible
        for the Personal Information or any other information you choose to
        submit in these forums.
      </p>
      <h2>Children’s Privacy</h2>
      <p>
        BioEthx does not knowingly collect Personal Information from children
        under the age of 13. If we learn that we have collected Personal
        Information on a child under the age of 13, we will delete that data
        from our systems. BioEthx encourages parents and guardians to go online
        with their children. Please visit the FTC’s website for more tips on
        protecting children’s privacy online.
      </p>
      <h2>
        Consent to Transfer, Processing and Storage of Personal Information
      </h2>
      <p>
        We may transfer your Personal Information within BioEthx in the United
        States of America, to any BioEthx subsidiary worldwide, or to third
        parties acting on our behalf, for the purposes of processing or storage,
        and by providing any Personal Information to us you fully understand and
        unambiguously consent to the transfer, processing and storage of such
        information in the United States of America.
      </p>
      <h2>Questions or Comments</h2>
      <p>
        Should you have any privacy-related questions or comments related to
        this BioEthx Privacy Policy, please send an email to ethics@bioethx.org.
      </p>
      <h2>Updates to this BioEthx Privacy Policy</h2>
      <p>
        BioEthx may update this Privacy Policy at any time, so please review it
        frequently. We will post a notice to this policy and the home page link
        whenever this Privacy Policy is materially changed so that you are aware
        of what information we collect, how we use it, and under what
        circumstances, if any, we disclose it. Your continued use of the BioEthx
        Site after any change will signify and confirm your assent to those
        changes.
      </p>
    </article>
</Layout>
