---
import Layout from "../layouts/BaseLayout.astro";
import Form from "../components/form.astro";
const { location } = Astro.props;
---

  <Layout title="Register">
    <main class="pb-7 sm:pb-0">
    <h1 class="text-center text-[#1E90FF] text-3xl font-bold my-5 px-2">
      Register
    </h1>
      <div class="twoColumnLayout mx-auto w-11/12 sm:max-w-screen-xl">
        <div class="columnDiv">
          <h2>Please register so we can keep you up to date via email.</h2>
        </div>
        <Form />
      </div>
    </main>
  </Layout>

<style>
.twoColumnLayout {
  background: #f4f4f4;
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin-bottom: 2rem;
}

.columnDiv {
  flex: 1;
  padding: 1rem;
  margin-right: 1rem;
}

@media (max-width: 768px) {
  .twoColumnLayout {
    flex-direction: column;
    padding: 0;
    margin-bottom: 0;
  }
}
</style>
