---
---
<form
  id="myForm"
  class="contactForm"
  name="contact"
  method="POST"
  netlify-honeypot="bot-field"
  data-netlify="true"
>
  <input type="hidden" name="form-name" value="contact" />
  <input type="hidden" name="bot-field" />
  <input
    id="name"
    class="formInput"
    type="text"
    name="name"
    placeholder="Name"
    required
  />
  <input
    id="email"
    class='formInput'
    type="text"
    name="email"
    placeholder="Email"
    required
  />
  <input
    id="number"
    class='formInput'
    type="text"
    name="number"
    placeholder="Number"
  />
  <input
    id="organization"
    class='formInput'
    type="text"
    name="organization"
    placeholder="Organization"
    required
  />
  <input
    id="title"
    class='formInput'
    type="text"
    name="title"
    placeholder="Title"
    required
  />
  <textarea
    class='formInput'
    placeholder="What is your interest?"
    name="interest"
    id="interest"
    required
  ></textarea>
  <div>
    <input class='submitBtn' type="submit" value="Send" />
  </div>
</form>

<style>
.contactForm {
  background-color: #ccc;
  padding: 1rem;
  border-radius: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
}

.formInput {
  margin: 0.6rem 0;
  padding: 0.5rem;
  font-size: 18px;
  font-weight: bold;
  font-family: Arial, Helvetica, sans-serif;
  border-radius: 7px;
  border: none;
}

.submitBtn {
  width: 100%;
  background: dodgerblue;
  color: #fff;
  border: none;
  border-radius: 7px;
  font-weight: bold;
  font-size: 18px;
  padding: 0.5rem;
  margin: 0.33rem 0;
}

.submitBtn:hover {
  background: deepskyblue;
}

@media (max-width: 768px) {
  .contactForm {
    padding: 0.75rem;
  }
}
</style>
