---
const { features } = Astro.props;
---

<aside class="sidebar">
  <ul class="list">
    {features.map((feat) => <li><a href={feat.url} class="btn">{feat.file.match(/\w+(?=.md)/)}</a></li>)}
  </ul>			
</aside>

<style>
.sidebar {
  background: #ccc;
  padding-right: 1.5rem;
  padding-top: 6rem;
  min-width: max-content;
  width: 20%;
}

.mobileMenu {
  background: #ccc;
  padding-top: 1rem;
  min-width: 100vw;
  max-width: 100vw;
  height: 100vh;
  position: fixed;
  z-index: 1;
}

.list {
  list-style: none;
  text-align: end;
}

.btn {
  display: block;
  color: black;
  border: 0;
  padding: 0.5rem;
  background: none;
  font-size: 18px;
  cursor: pointer;
  text-decoration: none;
}

.btnActive {
  display: block;
  color: black;
  border: 0;
  padding: 0.5rem;
  background: none;
  font-size: 18px;
  cursor: pointer;
  border-right: 5px solid dodgerblue;
  font-weight: bold;
  text-decoration: none;
}

.btn:hover,
.btnActive:hover {
  color: #444;
}
@media (max-width: 768px) {
  .sidebar {
    display: none;
  }
}
</style>
