---
const { features } = Astro.props;
---

<aside 
  id="sidebar" 
  class="bg-zinc-300 pt-4 sm:pt-20 pr-6 hidden w-screen h-screen z-10 sm:z-0 fixed sm:static sm:block md:w-4/12 lg:w-1/5 mx-0"
>
  <ul class="text-end">
    {features.map((feat) => <li class="mt-4 mr-2 text-lg"><a class="link link-hover" href={feat.url}>{feat.file.match(/\w+(?=.md)/)}</a></li>)}
  </ul>			
</aside>
