---
---
<a href="#top" class="sticky bottom-2 text-end z-20 p-4 sm:p-0">
<button id="toggle" class="text-blue-400 font-bold text-4xl rounded-full w-16 h-16 bg-white drop-shadow-lg sm:hidden">
  +
</button>
</a>

<style>
.active {
  transform: rotate(45deg);
}
</style>

<script>
  const toggle = document.querySelector('#toggle');

  function handleClick() {
    const x = document.getElementById('sidebar');
    if (x.style.display === "block") {
        toggle.classList.remove("active");
        x.style.display = "none";
      } else {
        toggle.classList.add("active");
        x.style.display = "block";
      }
    }

  toggle.addEventListener('click', handleClick)
</script>
