---
---
<button id="toggle" class="toggleBtn">
  <span>+</span>
</button>

<style>
.active {
  transform: rotate(45deg);
}

.toggleBtn {
  width: 56px;
  height: 56px;
  font-size: 36px;
  font-weight: bold;
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  bottom: 1rem;
  right: 1rem;
  background: #fff;
  box-shadow: 0px 2px 7px 3px rgba(0, 0, 0, 0.33);
  color: dodgerblue;
  border-radius: 50%;
  border: none;
  padding: 0;
  z-index: 1;
}

@media (min-width: 769px) {
  .toggleBtn {
    display: none;
  }
}
</style>

<script>
  const toggle = document.querySelector('#toggle');

  function handleClick() {
    const x = document.getElementById('sidebar');
    if (x.style.display === "block") {
        toggle.classList.remove("active");
        x.style.display = "none";
      } else {
        toggle.classList.add("active");
        x.style.display = "block";
      }
    }

  toggle.addEventListener('click', handleClick)
</script>
