---
import Nav from "../components/nav";
import Footer from "../components/footer";
import styles from "../styles/layout.module.css";
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>{"BioEthX | " + title}</title>
	<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    </head>
    <body class={styles.pageContainer}>
	<Nav client:idle />
	<div class={styles.pageWrap}>
		<slot />
	</div>
	<Footer />
    </body>
</html>

<style>
	* {
		font-family: Arial, Helvetica, sans-serif;
		box-sizing: border-box;
		margin: 0;
	}
</style>
