---
import Nav from "../components/nav.astro";
import Footer from "../components/footer.astro";
const { title } = Astro.props;
---
<!DOCTYPE html>
<html lang="en">
    <head>
	<meta charset="utf-8" />
	<meta name="viewport" content="width=device-width" />
	<meta name="generator" content={Astro.generator} />
	<title>{"BioEthX | " + title}</title>
	<link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    </head>
    <body id="top" class="pageContainer">
	<Nav />
	<div class="pageWrap">
	    <slot />
	</div>
	<Footer />
    </body>
</html>

<style>
    * {
      box-sizing: border-box;
      margin: 0;
    }

    .pageContainer {
      min-height: 100vh;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .pageWrap {
      padding-top: 2.75rem;
      z-index: 1;
      flex: auto;
      display: flex;
      flex-direction: column;
    }
</style>
