---
import Layout from "../layouts/BaseLayout.astro";
import '../styles/global.css';
---
<Layout title="ICCEC 2024">
  <main class="container">
    <article class="events">
      <slot />
    </article>
  </main>
</Layout>
