---
import Layout from "../layouts/BaseLayout.astro";
import styles from "../styles/Home.module.css";
import '../styles/global.css';
---

<Layout title="ICCEC 2024">
  <div class="">
    <main class={styles.container}>
      <article class="events">
	<slot />
      </article>
    </main>
  </div>
</Layout>

<style>
  .hr {
    margin: 0 1.25rem;
  }

  .mainArticle {
    padding: 0 1.25rem;
    height: 85vh;
    overflow: scroll;
  }

  @media (max-width: 768px) {
    .mainArticle {
      height: auto;
    }
    .mainArticle img {
      width: 100%;
    }
  }
</style>
