---
import Layout from "../layouts/BaseLayout.astro";
import Sidebar from "../components/sidebar.astro";
import Toggle from "../components/toggle.astro";
const features = await Astro.glob('../pages/service/*.md');
const feature = null;
---

<Layout title="Our Service">
  <div class="sm:flex">
    <Sidebar
      features={features}
      feature={feature}
    />
    <main class="sm:h-screen sm:overflow-y-scroll mx-auto z-0">
      <h1 class="text-center text-sky-500 text-3xl font-bold my-5 px-2">
	  Service
      </h1>
      <hr class="mx-5" />
      <article class="prose w-11/12 max-w-screen-xl pb-5 sm:pb-20 prose-img:mx-auto md:mx-auto lg:mx-0 mx-auto">
	<slot />
      </article>
    </main>
  </div>
  <Toggle />
</Layout>
